input{
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px black;
}
.btn{
  color: #ffffff;
  background-color: rgb(88, 252, 88);
  border-radius: 5px;
  font-weight: bold;
  padding: 10 30px 10 30px;

}
.address{
  width: 60%;
  height: 90px;
  padding-top: 20px;
  padding: 8px;
  border-radius: 5px;
  border: none;

}
.mainForm{
  padding:100px;
  background-color: rgb(209, 209, 209);
}
.form-group{
  padding-top: 20px;
}